@model List<User>
<style type="text/css">
    .navbar-custom {
        background-color: lightslategrey;
    }
</style>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Status">Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Organizations">Organizations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Admin" asp-action="UnmakeAdmins">UnmakeAdmins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Admin" asp-action="MakeAdmins">MakeAdmins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UnmakeManagers">Unmake Medical Managers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="MakeManagers">Unmake Medical Managers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Block">Block Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Unblock">Unblock Users</a>
    </li>
</ul>

